sudo: false
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash
cache:
  yarn: true
  directories:
  - node_modules
language: node_js
node_js:
- '6'
script: bash ./scripts/deployToGHPages.sh
notifications:
  email: never
  slack:
    secure: iiUPGh4RCX962DpcHfBqsVxlkUqgvTIOkFKFF/cfklWJBmoD5YhgFWwUxWVEGQlTijqsnehIIAnz9o83eDp2nWmPC4IXmGoYMZuX1z19G1pbhGQQGML+n5mAnUd27mR16VgrJefzObKedoFb4p3W6KETzNcmL3hL6WT2sbt6kOiXnwfYtXOpQVbpQTemKqP/D9+ifHiJAtVIhHt2sjrqAZiI8EBgPPhxCz21uvmsQNrMSbD9n5PRFOGRNv5f81lf2comsRIaLEprBGnHWTBERXnhhTDAOLCyJ9LfwenO0mr/CKtw9Ey1gFIBAGkJcz9SzR1HFJilaGdxvSYHVgSxWg84q8+mKLp+YLZujnvUE8SW9Wo8bmpdyh9uu4WADdjiHAQ1NJ1Ur1pyaQEsb7dfATZrK47i/fQxCKcRHErunO6H4Ac0KTIqnslJHPzWXoSiwcNSmXSFKQYupST8Zj6q7LJwsIJgq+M1KqXfRguLKML+xj2yofC+pMmk/UPFbdhud7HR9kqXRqZwcAiS5CMwY8iVjzK3ywuc8M/mUWGqoxDuScAh7BHQY9/UNQwiv2DKni8IaTiZEtPClt4On3JiSyoQSbYviqHgXPP5JIzGZNGEm9GN9gMO1QLP7t2b+ED35A6Yua2hSjkE2UR0c+1JkcWhz/KDdlD5IHXwgrt+cTU=
